.button__task {
  border: none;
  color: white;
  width: 30px;
  height: 30px;
  padding: 0;
}

.button__task--toggleDone {
  background-color: hsl(120, 100%, 30%);
  transition: 0.3s;
}

.button__task--toggleDone:hover {
  background-color: hsl(120, 100%, 35%);
}

.button__task--toggleDone:active {
  background-color: hsl(120, 100%, 40%);
}

.button__task--remove {
  border: none;
  background-color: hsl(0, 100%, 45%);
  transition: 0.3s;
}

.button__task--remove:hover {
  background-color: hsl(0, 100%, 60%);
}

.button__task--remove:active {
  background-color: hsl(0, 100%, 70%);
}

.button__navigation {
  border: none;
  background-color: white;
  color: teal;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .button__navigation {
    padding: 0 0 20px 0;
  }
}

.button__navigation:hover {
  color: hsl(180, 100%, 35%);
}

.button__navigation:active {
  color: hsl(180, 100%, 45%);
}

.button__navigation--disabled {
  color: hsl(0, 0%, 80%);
  pointer-events: none;
}