.list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.list__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
  padding: 10px;
  align-items: center;
  border-bottom: solid 1px #ddd;
}

.list__item--done {
  text-decoration: line-through;
}

.list__item--hide {
  display: none;
}